.relative {
  position: relative;
}

.footer {
 position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
background: #00c6ff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
       text-align: center;
       letter-spacing: 2px;

}

a:link {
    text-decoration: none;
}

.cool-font {
 font-family: 'Rock Salt', cursive;
     color: #00abf2;
    font-size: 38px;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#textDiv  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #00abf2;
    font-size: 100px;
    margin: 0 auto;
}

.loader-ring {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -270px 0 0 -270px;
  width: 570px;
  height: 570px;
}

.loader-ring-light {
  width: 540px;
  height: 540px;
  -moz-border-radius: 540px;
  -webkit-border-radius: 540px;
  border-radius: 540px;
  -moz-box-shadow: 0 4px 0 #00abf2 inset;
  -webkit-box-shadow: 0 4px 0 #00abf2 inset;
  box-shadow: 0 4px 0 #00abf2 inset;
  animation: rotate-360 2s linear infinite;
}

.loader-ring-track {
  position: absolute;
  top: 0;
  left: 0;
  width: 540px;
  height: 540px;
  -moz-border-radius: 540px;
  -webkit-border-radius: 540px;
  border-radius: 540px;
  -moz-box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.3) inset;
  -webkit-box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.3) inset;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.3) inset;
}

@keyframes rotate-360 {
  from {
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
body {
  background-color: rgba(0, 0, 0, 0.87);
}
